.btn {
  width: 80px;
  border: 1px solid black;
}

#canvas-controls-container {
  position: relative;
}

#left-buttons {
  width:  80px;
  position: absolute;
  top: 40px;
  left: 0px;
}

#right-buttons {
  width:  80px;
  position: absolute;
  top: 40px;
  right: 0px;
}

#right-buttons button {
  margin-bottom: 10px;
}

#container {
  margin: 0 auto;
  width: 50%;
}

#splash-message-container {
  position: absolute;
  width: 100%;
  left: 0;
  top: 295px;
}

#splash-message {
  width: 75%;
  margin: 0 auto;
  padding: 20px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

#message {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 20px;
}

#footer {
  width: 100%;
  text-align: right;
  margin-top: 30px;
  padding-right: 30px;
}
