.btn {
  width: 80px;
  border: 1px solid black;
/*
  width: 100px;
  height: 100px;
 */
}

.button-spacer {
  width: 100px;
  height: 100px;
  background-color: #ff0000;
}

#wrapper {
}

#canvas-controls-container {
  position: relative;
}

#left-buttons {
  width:  80px;
  position: absolute;
  top: 40px;
  left: 20px;
}

#right-buttons {
  width:  80px;
  position: absolute;
  top: 40px;
  right: 20px;
}

#right-buttons button {
  margin-bottom: 10px;
}

#controls-container {
  margin: 0 auto;
  width: 180px;
background-color: #ff0000;
}

#container {
  margin: 0 auto;
  width: 50%;
}

#splash-message-container {
  position: absolute;
  width: 100%;
  left: 0;
  top: 295px;
}

#splash-message {
  width: 75%;
  margin: 0 auto;
  padding: 20px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

#message {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  height: 20px;
/*  background-color: #ff0000; */
}

#canvasdiv {
/*  background-color: #00ff00; */
}

#controls {
/*  background-color: #0000ff; */
}
